#workOrderIcon { 
    background-color: #50E3C2;
    width: var(--lwc-squareIconMediumBoundary,2rem);
    height: var(--lwc-squareIconMediumBoundary,2rem);
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    margin: 10px 15px 9px 5px;
 }
 .img {
    max-width: 100%; 
    height: auto;
 }
 #selectionStyle {
    display: flex;
    flex-direction: column;
 }
 #container {
    display: flex;
    align-items: flex-start;
 }
 #h1text {
    margin: 10px 0px 3px 4px;
    font-size: 1rem;
 }
.stlyeSheet {
    margin-bottom: 10px;
}
#rightButton{
    display: flex;
    justify-content: right;
    flex-grow: 3;
}
.createButton{
    line-height: 1.5rem;
    width: 2.5rem;
}
.delEditButtons{
   padding: 0px 5px 0px 5px;
}
.paginationText{
   color: #ccc;
}
#paginationTable{
   width: 100%;
}
#centerTable {
   text-align: center;
}
#rightTable {
   text-align: right;
}